<!DOCTYPE html>
<html lang="en">

<head>
     <title>Site_Info</title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="icon" href="../../img/favicon.png" type="image/x-icon">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
     <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.15.1/css/pro.min.css">
     <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
     <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
     <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Train+One&display=swap"
          rel="stylesheet">
     {{!--
     <link rel="stylesheet" href="admin/views/partials/index.css"> --}}
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
          crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
          integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
          crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
          integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
          crossorigin="anonymous"></script>

</head>
<style>
     body {
          font: 400 15px/1.8 Lato, sans-serif;
          background: url("http://svmr.apphb.com/assets/img/backgrounds/1.jpg");
          width: 100%;
          height: 100%;
     }

     .card {
          background: url("http://svmr.apphb.com/assets/img/backgrounds/1.jpg");
          background-position: center;
          margin-top: 5% !important;
          border-radius: 3% !important;
          box-shadow: 1px 1px 2px rgb(255, 212, 93), 0 0 10px rgb(243, 181, 139), 0 0 5px rgb(238, 116, 59);
     }

     .btn {
          background-color: rgb(247, 144, 10);
          padding-left: 85px;
          padding-right: 85px;
          text-align: center;
          font-size: 18px;
          font-weight: bold;
          letter-spacing: 5px;
     }

     .btn:hover {
          background-color: hsla(34, 94%, 51%, 0.637);
          color: rgb(247, 144, 10);
          border: 2px solid rgb(240, 100, 18);
          opacity: 1;
     }

     .card-title {
          color: rgb(253, 253, 253);
          font-weight: bold;
          letter-spacing: 2px;
          transition-duration: 0.5s;
     }

     .card-title:hover {
          color: hsl(34, 94%, 51%) !important;

     }
</style>

<body>
     <div class="login-img">
          <div class="container">
               <div class="card col-lg-4 text-center m-auto" style="">
                    <div class="card-body">
                         <h4 class="card-title">Site Info Update</h4>

                         <form class="form-group card-text  pt-2" action="/siteinfo-update" method="POST">
                              {{#if info_data}}
                              <div class="p-3">
                                   <input class="form-control" type="hidden" value="{{info_data.id}}" name="id"
                                        placeholder="Enter Site Name">
                              </div>
                              <div class="p-3">
                                   <input class="form-control" value="{{info_data.site_name}}"" type="text" name="site" placeholder="Enter Site Name">
                              </div>
                              <div class="p-3">
                                   <input class="form-control" type="text" value="{{info_data.site_address}}" name="siteAddress"
                                        placeholder="Enter Site Address">
                              </div>
                              <div class="p-3">
                                   <input class="form-control" type="text" name="cmanager" value="{{info_data.construction_manager}}"
                                        placeholder="Enter Construction Manager">
                              </div>
                              <div class="p-3">
                                   <input class="form-control" type="text" name="sitecode"
                                       value="{{info_data.site_code}}" placeholder="Enter Site Code ">
                              </div>
                              <div class="form row mb-1">
                                   <div class="col-6">
                                        <div class="p-3">
                                             <input class="form-control" type="text" step="any" name="longitude"
                                                value="{{info_data.location}}"  placeholder="Enter Longitude">
                                        </div>
                                   </div>
                                   <div class="col-6">
                                        <div class="p-3">
                                             <input class="form-control" type="text" step="any" name="latitude"
                                               value="{{info_data.location}}"   placeholder="Enter  Latitude">
                                        </div>
                                   </div>

                              </div>

                              <div class="p-3">
                                   <input class="form-control" type="date" name="startdate" data-toggle="tooltip"
                                        data-placement="top" title="Enter Start Date" value="{{info_data.site_start_date}}">
                              </div>
                              <div class="p-3">
                                   <input data-toggle="tooltip" data-placement="top" title="Enter End Date"
                                        class="form-control" type="date" name="enddate" value='{{info_data.site_end_date}}'>

                              </div>
                              <div class="p-3">
                                   <input class="form-control" type="text" name="users" placeholder="Enter Users">
                              </div>
                              {{/if}}
                              <div class="p-3 mt-2">
                                   <button type="submit" class="btn text-white"> <i class="fas fa-plus"></i> UPDATE</button>
                              </div>
                         </form>
                    </div>
               </div>
          </div>
     </div>
</body>

</html>